<div class="container-buttons">
    <button class="espacio-btn" [routerLink]="['/reservas/plazas']">
      <img src="https://img.icons8.com/ios/50/ffffff/park.png" alt="Plaza Icon">
      Plazas
    </button>
  
    <button class="espacio-btn" [routerLink]="['/reservas/areas-deportivas']">
      <img src="https://img.icons8.com/ios/50/ffffff/soccer-ball.png" alt="Áreas Deportivas Icon">
      Áreas Deportivas
    </button>
  
    <button class="espacio-btn" [routerLink]="['/reservas/cultural']">
      <img src="https://img.icons8.com/ios/50/ffffff/classroom.png" alt="Cultural Icon">
      Cultural
    </button>
  </div>
  