<div class="nosotros-container">
  
  <div class="titulo-nosotros">
    <div class="linea"></div>
    <h2>Nosotros</h2>
    <div class="linea"></div>
  </div>

<section class="nosotros-container">
  <h2 class="subtitulo-nosotros">Sobre Nosotros</h2>
  <p class="description">
    {{ platformName }} es una plataforma digital diseñada para optimizar la gestión y reserva de espacios públicos en Cochabamba.  
    Nuestro propósito es: <strong>{{ purpose }}</strong>
  </p>
</section>

<h2 class="subtitulo-nuestrosValores"></h2>

  <div class="values-section">
    <h2 class="subtitle">Nuestros Valores</h2>
    <ul class="values-list">
      <li *ngFor="let value of values; index as i" (click)="openModal(i)">
        <img [src]="value.icon" [alt]="value.title" class="icon">
        <div class="value-content">
          <strong>{{ value.title }}</strong>
          <p>{{ value.description }}</p>
        </div>
      </li>
    </ul> 
  </div>


</div>  